{% extends 'base.html' %}

{% load static %}
{% block content %}
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.html' %}" type="image/x-icon" /> <!--lembrar de colocar esse {% static 'xxxx' %}-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>E4H - Exibir vaga</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/feather.css"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.min.css"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/lc_lightbox.css"><!-- Lc light box popup -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap5.min.css"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="css/select.bootstrap5.min.css"><!-- DASHBOARD select bootstrap  STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="css/dropzone.css"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/scrollbar.css"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/datepicker.css"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/style.css"><!-- MAIN STYLE SHEET -->

</head>

<body>

        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/1.jpg);">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Detalhes da Vaga</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="index.html">Home</a></li>
                                    <li>Job Detail</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->



            <!-- OUR BLOG START -->
            <div class="section-full  p-t120 p-b90 bg-white">
                <div class="container">

                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">

                            <div class="col-lg-8 col-md-12">
                                <!-- Candidate detail START -->
                                <div class="cabdidate-de-info">
                                    <div class="twm-job-self-wrap">
                                        <div class="twm-job-self-info">
                                            <div class="twm-job-self-top">
                                                <div class="twm-media-bg">
                                                </div>

                                                <div class="twm-mid-content">


                                                    <h4 class="twm-job-title">{{ object.nome }}<span class="twm-job-post-duration">/ {{ object.data }}</span></h4>
                                                    <p class="twm-job-address"><i class="feather-map-pin"></i>{{ object.local }}</p>
                                                    <div class="twm-job-self-mid">
                                                        <div class="twm-job-self-mid-left">
                                                            <div class="twm-jobs-amount">R${{ object.salmin }} - R${{ object.salmax }} <span>/ Mensal</span></div>
                                                        </div>
                                                    </div>


                                                    <div class="twm-job-self-bottom">
                                                        <a href="dash-post-job.html" class="site-button">Quero essa vaga!</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <h4 class="twm-s-title">Descrição:</h4>

                                    <p>{{ object.descricao }}
                                    </p>


                                    <h4 class="twm-s-title">Requisitos:</h4>
                                    <ul class="description-list-2">
                                        <li>
                                            <i class="feather-check"></i>
                                            {{ object.requisitos }}
                                        </li>
                                    </ul>

                                    <div class="twm-two-part-section">
                                        <div class="row">

                                            <div class="col-lg-6 col-md-12">
                                                <h4 class="twm-s-title">Office Photos</h4>
                                                <div class="tw-sidebar-gallery">
                                                    <ul>
                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic1.jpg" title="Title 1" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic1.jpg">
                                                                    <img src="images/gallery/thumb/pic1.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic2.jpg" title="Title 2" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic2.jpg">
                                                                    <img src="images/gallery/thumb/pic2.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb ">
                                                                <a class="elem" href="images/gallery/pic3.jpg" title="Title 3"  data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic3.jpg">
                                                                    <img src="images/gallery/thumb/pic3.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic4.jpg" title="Title 4"  data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic4.jpg">
                                                                    <img src="images/gallery/thumb/pic4.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic5.jpg" title="Title 5"  data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic5.jpg">
                                                                    <img src="images/gallery/thumb/pic5.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic6.jpg" title="Title 6"  data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic6.jpg">
                                                                    <img src="images/gallery/thumb/pic6.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic7.jpg" title="Title 7" data-lcl-author="" data-lcl-thumb="images/gallery/thumb/pic1.jpg">
                                                                    <img src="images/gallery/thumb/pic7.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="images/gallery/pic8.html" title="Title 8" data-lcl-author="" data-lcl-thumb="http://thememajestic.com/jobzilla/images/gallery/thumb/pic2.jpg">
                                                                    <img src="http://thememajestic.com/jobzilla/images/gallery/thumb/pic8.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb ">
                                                                <a class="elem" href="http://thememajestic.com/jobzilla/images/gallery/pic9.jpg" title="Title 9"  data-lcl-author="" data-lcl-thumb="http://thememajestic.com/jobzilla/images/gallery/thumb/pic3.jpg">
                                                                    <img src="http://thememajestic.com/jobzilla/images/gallery/thumb/pic9.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="http://thememajestic.com/jobzilla/images/gallery/pic10.jpg" title="Title 10"  data-lcl-author="" data-lcl-thumb="http://thememajestic.com/jobzilla/images/gallery/thumb/pic4.jpg">
                                                                    <img src="http://thememajestic.com/jobzilla/images/gallery/thumb/pic10.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="http://thememajestic.com/jobzilla/images/gallery/pic11.jpg" title="Title 11"  data-lcl-author="" data-lcl-thumb="http://thememajestic.com/jobzilla/images/gallery/thumb/pic5.jpg">
                                                                    <img src="http://thememajestic.com/jobzilla/images/gallery/thumb/pic11.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="tw-service-gallery-thumb">
                                                                <a class="elem" href="http://thememajestic.com/jobzilla/images/gallery/pic12.jpg" title="Title 12"  data-lcl-author="" data-lcl-thumb="http://thememajestic.com/jobzilla/images/gallery/thumb/pic6.jpg">
                                                                    <img src="http://thememajestic.com/jobzilla/images/gallery/thumb/pic12.jpg" alt="">
                                                                    <i class="fa fa-file-image"></i>
                                                                </a>
                                                            </div>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <h4 class="twm-s-title">Video</h4>
                                                <div class="video-section-first" style="background-image: url(http://thememajestic.com/jobzilla/images/video-bg.jpg);">
                                                    <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU" class="mfp-video play-now-video">
                                                        <i class="icon feather-play"></i>
                                                        <span class="ripple"></span>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12 rightSidebar">

                                <div class="side-bar mb-4">
                                    <div class="twm-s-info2-wrap mb-5">
                                        <div class="twm-s-info2">
                                            <h4 class="section-head-small mb-4">Job Information</h4>
                                            <ul class="twm-job-hilites">
                                                <li>
                                                    <i class="fas fa-calendar-alt"></i>
                                                    <span class="twm-title">Date Posted</span>
                                                </li>
                                                <li>
                                                    <i class="fas fa-eye"></i>
                                                    <span class="twm-title">8160 Views</span>
                                                </li>
                                                <li>
                                                    <i class="fas fa-file-signature"></i>
                                                    <span class="twm-title">6 Applicants</span>
                                                </li>
                                            </ul>
                                            <ul class="twm-job-hilites2">

                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-calendar-alt"></i>
                                                        <span class="twm-title">Date Posted</span>
                                                        <div class="twm-s-info-discription">April 22, 2022</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span class="twm-title">Location</span>
                                                        <div class="twm-s-info-discription">Munchen, Germany</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-user-tie"></i>
                                                        <span class="twm-title">Job Title</span>
                                                        <div class="twm-s-info-discription">Web Developer</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-clock"></i>
                                                        <span class="twm-title">Experience</span>
                                                        <div class="twm-s-info-discription">3 Year</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-suitcase"></i>
                                                        <span class="twm-title">Qualification</span>
                                                        <div class="twm-s-info-discription">Bachelor Degree </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">
                                                        <i class="fas fa-venus-mars"></i>
                                                        <span class="twm-title">Gender</span>
                                                        <div class="twm-s-info-discription">Both</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="twm-s-info-inner">

                                                        <i class="fas fa-money-bill-wave"></i>
                                                        <span class="twm-title">Offered Salary</span>
                                                        <div class="twm-s-info-discription">$2000-$2500 / Month</div>
                                                    </div>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>

                                    <div class="widget tw-sidebar-tags-wrap">
                                        <h4 class="section-head-small mb-4">Habilidades</h4>

                                        <div class="tagcloud">
                                            {% if vaga.pri_habilidade_vaga %}
                                            <a href="javascript:void(0)">{{ vaga.pri_habilidade_vaga }}</a>
                                            {% endif %}
                                            {% if vaga.seg_habilidade_vaga %}
                                            <a href="javascript:void(0)">{{ vaga.seg_habilidade_vaga }}</a>
                                            {% endif %}
                                            {% if vaga.ter_habilidade_vaga %}
                                            <a href="javascript:void(0)">{{ vaga.ter_habilidade_vaga }}</a>
                                            {% endif %}
                                            {% if vaga.qua_habilidade_vaga %}
                                            <a href="javascript:void(0)">{{ vaga.qua_habilidade_vaga }}</a>
                                            {% endif %}
                                            {% if vaga.qui_habilidade_vaga %}
                                            <a href="javascript:void(0)">{{ vaga.qui_habilidade_vaga }}</a>
                                            {% endif %}

                                        </div>
                                    </div>

                                </div>

                                <div class="twm-s-info3-wrap mb-5">
                                    <div class="twm-s-info3">
                                        <div class="twm-s-info-logo-section">
                                            <div class="twm-media">
                                                <img src="http://thememajestic.com/jobzilla/images/jobs-company/pic1.jpg" alt="#">
                                            </div>
                                            <h4 class="twm-title">Senior Web Designer , Developer</h4>
                                        </div>
                                        <ul>

                                            <li>
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-building"></i>
                                                    <span class="twm-title">Company</span>
                                                    <div class="twm-s-info-discription">Software Development</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-mobile-alt"></i>
                                                    <span class="twm-title">Phone</span>
                                                    <div class="twm-s-info-discription">+291  560 56456</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-at"></i>
                                                    <span class="twm-title">Email</span>
                                                    <div class="twm-s-info-discription">thewebmaxdemo@gmail.com</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-desktop"></i>
                                                    <span class="twm-title">Website</span>
                                                    <div class="twm-s-info-discription">https://themeforest.net</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twm-s-info-inner">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <span class="twm-title">Address</span>
                                                    <div class="twm-s-info-discription">1363-1385 Sunset Blvd Angeles, CA
                                                        90026 ,USA</div>
                                                </div>
                                            </li>

                                        </ul>
                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class=" site-button">Vew Profile</a>

                                    </div>
                                </div>

                                <div class="twm-advertisment" style="background-image:url(http://thememajestic.com/jobzilla/images/add-bg.jpg);">
                                    <div class="overlay"></div>
                                    <h4 class="twm-title">Recruiting?</h4>
                                    <p>Get Best Matched Jobs On your <br>
                                     Email. Add Resume NOW!</p>
                                     <a href="javascript:;" class="site-button white">Read More</a>
                                 </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>


 	</div>

</body>

</html>
{% include 'rodape.html'%}
{% endblock %}
