{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">{{ titulo }}</h4>
                <p class="lead">
                    {{ lead }}
                </p>
                <form action="" method="post">
                    <p>
                        Deseja excluir a vaga: {{ object }}?
                    </p>

                    {% csrf_token %}
        
                    
                    {{ form|crispy }}
                    
                    

                    <button type="submit" class="btn btn-danger mt-3">{{ botao }}</button>
                </form>

              
            </div>
        </div>
    </div>
</div>
{% endblock %}