{% extends  'base.html' %} 
 
{% load static %} 
 
 
 
{% block content %} 
<h3>Lista de Vagas</h3> 
<hr> 
<div class="table-responsive"></div> 
    <table class="table table-striped"> 
        <tr> 
            <th>Empresa</th> 
            <th>Nivel</th> 
            <th>Contrato</th> 
            <th>Local</th> 
            <th>Salário</th> 
        </tr> 
 
        {% for vaga in object_list %} 
        <tr> 
            <th>{{ request.user }}</th> 
            <th>{{ vaga.nivel }}</th> 
            <th>{{ vaga.contrato }}</th> 
            <th>{{ vaga.local }}</th> 
            <th>{{ vaga.salario }}</th> 
        </tr> 
        {% empty %} 
        <tr> 
            <td colspan="3">Nenhuma vaga registrada</td> 
        </tr> 
        {% endfor %} 
    </table> 
 
{% endblock %}