{% extends  'base.html' %} 
{% load static %} 
 
 
{% block content %} 

<hr style="margin-top: 100px;"> 
<div class="table-responsive"></div> 
    <table class="table table-striped"> 
        <tr> 
            <th>Nome</th> 
            <th>Descrição</th> 
            <th>Nível</th> 
            <th>Modalidade da Vaga</th> 
            <th>Opções</th> 
        </tr> 
 
        {% for vaga in object_list %} 
        <tr> 
            <td>{{ vaga.nome }}</td>
            <td>{{ vaga.descricao }}</td> 
            <td>{{ vaga.nivel }}</td> 
            <td>{{ vaga.tipo_contrato }}</td>
            <td>
                <a href="{% url 'minhavaga-detail' vaga.pk %}">
                    <i class="fa-solid fa-eye" aria-hidden="true"></i>
                </a>
                <a href="{% url 'minhasvagas-alterar' vaga.pk %}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'minhasvagas-deletar' vaga.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                
            </td>  
        </tr> 
        {% empty %} 
        <tr> 
            <td colspan="3">Nenhuma vaga registrada</td> 
        </tr> 
        {% endfor %} 
    </table> 
 
    <div style="display: flex; justify-content: center; align-items: center;">
        <a href="{% url 'minhasvagas-adicionar' %}" class="btn btn-primary btn-sm float-right">Adicionar uma vaga</a>
    </div>

{% endblock %}