{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
      
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url('/static/images/banner/top-page-bg.jpg');">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Publique Sua Vaga</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li>Publique Sua Vaga</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->


            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">
                

                <div class="container">
                    <div class="row">
                        
                        <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">

                            <div class="side-bar-st-1">
                                
                                <div class="twm-candidate-profile-pic">
                                    
                                    <img src="http://thememajestic.com/jobzilla/images/jobs-company/pic1.jpg" alt="">
                                    <div class="upload-btn-wrapper">
                                        <button class="site-button button-sm">Upload Logo</button>
                                        <input type="file" name="myfile">
                                    </div>
                                    
                                </div>

                                <div class="twm-mid-content text-center">
                                    <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                        <h4>Empresa Modelo Ltda</h4>
                                    </a>
                                    <p>Painel</p>
                                </div>
                               
                                <div class="twm-nav-list-1">
                                    <ul>
                                        <li><a href="{% url '404' %}"><i class="fa fa-user"></i> Perfil da Empresa</a></li>
                                        <li><a href="{% url '404' %}"><i class="fa fa-receipt"></i> Resumo</a></li>
                                        <li><a href="{% url 'minhas-vagas' %}"><i class="fa fa-suitcase"></i> Gerenciar Vagas</a></li>
                                        <!--<li class="active"><a href="http://thememajestic.com/jobzilla/employer-post-job.html"><i class="fa fa-book-reader"></i> Post A Jobs</a></li>-->
                                        <li><a href="{% url '404' %}"><i class="fa fa-credit-card"></i>Transações</a></li>
                                        <li><a href="{% url '404' %}"><i class="fa fa-user-check"></i> Pagina de Candidatos</a></li>
                                        <li><a href="{% url 'change-password' %}"><i class="fa fa-fingerprint"></i> Mudar Senha</a></li>
                                        <li><a href="{% url 'logout' %}"><i class="fa fa-share-square"></i> Sair</a></li>
                                        <!--<li><a href="http://thememajestic.com/jobzilla/employer-account-fresher.html"><i class="fa fa-pencil-alt"></i>Register Fresher</a></li>
                                        <li><a href="http://thememajestic.com/jobzilla/employer-account-professional.html"><i class="fa fa-pencil-alt"></i>Register Professionals</a></li>-->
                                    </ul>
                                </div>
                                
                            </div>

                        </div>

                        <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                            <!--Filter Short By-->
                            <div class="twm-right-section-panel site-bg-gray">
                                <form method = "post">
                                   <!--Basic Information-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading wt-panel-heading p-a20">
                                            <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>Detalhes da Vaga</h4>
                                        </div>
                                        <div class="panel-body wt-panel-body p-a20 m-b30 ">
                                            
                                            <div class="row">
                                                    <!--Job title-->            
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Título da Vaga</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_name" type="text" placeholder="Desenvolvero Front End">
                                                                <i class="fs-input-icon fa fa-address-card"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--Job Category--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group city-outer-bx has-feedback">
                                                            <label>Categoria</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="j-category" data-bv-field="size">
                                                                    <option disabled selected value="">Selecione a Categoria</option>                                                         
                                                                    <option>Full-stack</option>
                                                                    <option>Front-end</option>
                                                                    <option>Back-end</option>
                                                                    <option>Mobile</option>                                                            
                                                                </select>
                                                                <i class="fs-input-icon fa fa-border-all"></i>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <!--Job Type--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Nível</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="s-category" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Selecione o Nível</option>
                                                                    <option>Junior</option>
                                                                    <option>Pleno</option>
                                                                    <option>Sênior</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-user-graduate"></i>
                                                            </div>
                                                        </div>
                                                    </div>                
                
                                                    <!--Offered Salary--> 
                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Faixa de Salário</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="salary" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Salário</option>
                                                                    <option>R$1.500,00 até R$ 2.500,00</option>
                                                                    <option>R$2.500,00 até R$ 4.000,00</option>
                                                                    <option>R$4.000,00 até R$ 6.000,00</option>
                                                                    <option>R$6.000,00 até R$ 8.000,00</option>
                                                                    <option>R$8.000,00 até R$ 12.000,00</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-dollar-sign"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->

                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Salário Mínimo</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="R$ Salário Mínimo">
                                                                <i class="fs-input-icon fa fa-dollar-sign"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Salário Maximo</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="R$ Salário Maximo">
                                                                <i class="fs-input-icon fa fa-dollar-sign"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--Experience--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Experiência</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="Ex. Mínimo de 3 anos">
                                                                <i class="fs-input-icon fa fa-user-edit"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--Qualification--> 
                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Formação</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="Formação Escolar">
                                                                <i class="fs-input-icon fa fa-user-graduate"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->
                
                                                    <!--Gender--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Modalidade</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="gender" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Modalidade</option>
                                                                    <option>Presencial</option>
                                                                    <option>Remoto</option>
                                                                    <option>Híbrido</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Jornada</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="gender" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Jornada</option>
                                                                    <option>Período Integral</option>
                                                                    <option>Meio Período</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--Contrato--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Contrato</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="country" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Contrato</option>
                                                                    <option>Estágio</option>
                                                                    <option>CLT</option>
                                                                    <option>Freelance</option>
                                                                    <option>PJ</option>
                                                                    <option>Voluntário</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                
                                                    <!--Skills--> 
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Habilidades 1</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Habilidade</option>
                                                                    <option>Android</option>
                                                                    <option>Angular</option>
                                                                    <option>C#</option>
                                                                    <option>DevOps</option>
                                                                    <option>Django</option>
                                                                    <option>Java</option>
                                                                    <option>JavaScript</option>
                                                                    <option>Linux</option>
                                                                    <option>Pandas</option>
                                                                    <option>SQL</option>
                                                                    <option>SQL Server</option>
                                                                    <option>Visual Basic</option>
                                                                    <option>XML</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Habilidades 2</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Habilidade</option>
                                                                    <option>Android</option>
                                                                    <option>Angular</option>
                                                                    <option>C#</option>
                                                                    <option>DevOps</option>
                                                                    <option>Django</option>
                                                                    <option>Java</option>
                                                                    <option>JavaScript</option>
                                                                    <option>Linux</option>
                                                                    <option>Pandas</option>
                                                                    <option>SQL</option>
                                                                    <option>SQL Server</option>
                                                                    <option>Visual Basic</option>
                                                                    <option>XML</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Habilidades 3</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Habilidade</option>
                                                                    <option>Android</option>
                                                                    <option>Angular</option>
                                                                    <option>C#</option>
                                                                    <option>DevOps</option>
                                                                    <option>Django</option>
                                                                    <option>Java</option>
                                                                    <option>JavaScript</option>
                                                                    <option>Linux</option>
                                                                    <option>Pandas</option>
                                                                    <option>SQL</option>
                                                                    <option>SQL Server</option>
                                                                    <option>Visual Basic</option>
                                                                    <option>XML</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Habilidades 4</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Habilidade</option>
                                                                    <option>Android</option>
                                                                    <option>Angular</option>
                                                                    <option>C#</option>
                                                                    <option>DevOps</option>
                                                                    <option>Django</option>
                                                                    <option>Java</option>
                                                                    <option>JavaScript</option>
                                                                    <option>Linux</option>
                                                                    <option>Pandas</option>
                                                                    <option>SQL</option>
                                                                    <option>SQL Server</option>
                                                                    <option>Visual Basic</option>
                                                                    <option>XML</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Habilidades 5</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Habilidade</option>
                                                                    <option>Android</option>
                                                                    <option>Angular</option>
                                                                    <option>C#</option>
                                                                    <option>DevOps</option>
                                                                    <option>Django</option>
                                                                    <option>Java</option>
                                                                    <option>JavaScript</option>
                                                                    <option>Linux</option>
                                                                    <option>Pandas</option>
                                                                    <option>SQL</option>
                                                                    <option>SQL Server</option>
                                                                    <option>Visual Basic</option>
                                                                    <option>XML</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--Location--> 
                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Aceita Candidatos de Outra Localidade</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="Sim ou Não">
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    
                                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Candidatos Outras Localidades</label>
                                                            <div class="ls-inputicon-box">  
                                                                <select class="wt-select-box selectpicker"  data-live-search="true" title="" id="city" data-bv-field="size">
                                                                    <option class="bs-title-option" value="">Outras Localidades</option>
                                                                    <option>Sim</option>
                                                                    <option>Não</option>
                                                                </select>
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Email Address-->
                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Requisitos</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="Descrição dos Requisitos">
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Requisitos</label>
                                                            <textarea class="form-control" rows="3" placeholder="Conta ai o que nosso candidato precisa ter para entrar nessa mega vaga."></textarea>
                                                        </div>
                                                    </div> 

                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Beneficios</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_Email" type="email" placeholder="Descrição dos Requisitos">
                                                                <i class="fs-input-icon fa fa-file-alt"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                                   
                                                    <!--Website-->
                                                    <!--<div class="col-xl-4 col-lg-6 col-md-12">
                                                        <div class="form-group">
                                                            <label>Site</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="company_website" type="text" placeholder="https://.../">
                                                                <i class="fs-input-icon fa fa-globe-americas"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->
                
                                                <!--Description-->
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Descrição</label>
                                                            <textarea class="form-control" rows="3" placeholder="Bora contar um pouco mais sobre a vaga para os nossos candidatos!"></textarea>
                                                        </div>
                                                    </div> 
                                                    
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Beneficios</label>
                                                            <textarea class="form-control" rows="3" placeholder="Então agora é hora de contar sobre o que vamos oferecer para os nossos candidatos!"></textarea>
                                                        </div>
                                                    </div> 

                                                <!--Start Date-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Data Inicial</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control datepicker" data-provide="datepicker" name="company_since" type="text" placeholder="dd/mm/aaaa">
                                                                <i class="fs-input-icon far fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <!--End Date-->
                                                    <!--<div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Data Final</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control datepicker" data-provide="datepicker" name="company_since" type="text" placeholder="dd/mm/aaaa">
                                                                <i class="fs-input-icon far fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                                                                                
                                                    <div class="col-lg-12 col-md-12">                                   
                                                        <div class="text-left">
                                                            <button type="submit" class="site-button m-r5">Publicar Vaga</button>
                                                            <button type="submit" class="site-button outline-primary">Salvar Vaga</button>
                                                        </div>
                                                    </div> 
                                                                                                                        
                                            </div>
                                                     
                                        </div>
                                    </div> 
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->
        {% include 'rodape.html'%}
        {% endblock %}
</body>

</html>


