{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1> {{ titulo }} </h1>
    <body>
        {% if fields %}
        {% for x in fields %}
        <p>
            {{ x.nome - x.nivel}}
            {{  }}                
        </p>
        {% endfor %}
        {% endif %}
<!-- 
        <dl>
            <dt>{{ vaga_list }}</dt>
            <dd> Html Basico</dd>
            <dd> Html Avançado</dd>
            <dt> PHP</dt>
            <dd> PHP Básico</dd>
            <dd> PHP Intermediário</dd>
            <dd> PHP Avançado</dd> -->
        <!-- </dl> -->
{% endblock %}