{% extends 'base.html' %}
{% load static %} 

    <!-- PAGE TITLE HERE -->
    {% block title %}
    <title>Experts 4 Hire | Vagas</title>
    {% endblock %}

{% block content %}

   
<body>
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center"
                style="background-image:url('/static/images/banner/top-page-bg.jpg');">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">As Melhores Vagas Aqui</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                        <div>
                            <ul class="wt-breadcrumb breadcrumb-style-2">
                                <li><a href="{% url 'index' %}">Início</a></li>
                                <li>Lista de vagas</li>
                            </ul>
                        </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">


                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-12 rightSidebar">

                            <div class="side-bar">

                                <div class="sidebar-elements search-bx">

                                    <form>

                                        <div class="form-group mb-4">
                                            <h4 class="section-head-small mb-4">Categoria</h4>
                                            <select class="wt-select-bar-large selectpicker" data-live-search="true"
                                                data-bv-field="size">
                                                <option selected>Todas as categorias</option>
                                                <option>Full Stack</option>
                                                <option>Back-End</option>
                                                <option>Front-End</option>
                                            </select>
                                        </div>

                                        <div class="form-group mb-4">
                                            <h4 class="section-head-small mb-4">Localização</h4>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Local da Vaga">
                                                <button class="btn" type="button"><i
                                                        class="feather-map-pin"></i></button>
                                            </div>
                                        </div>

                                        <div class="twm-sidebar-ele-filter">
                                            <h4 class="section-head-small mb-4">Modalidade</h4>
                                            <ul>
                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck1">
                                                        <label class="form-check-label"
                                                            for="exampleCheck1">Presencial</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck2">
                                                        <label class="form-check-label" for="exampleCheck2">Híbrido</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck3">
                                                        <label class="form-check-label"
                                                            for="exampleCheck3">Remoto</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>


                                        <div class="twm-sidebar-ele-filter">
                                            <h4 class="section-head-small mb-4">Tipo de Vaga</h4>
                                            <ul>
                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck1">
                                                        <label class="form-check-label"
                                                            for="exampleCheck1">Freelance</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck2">
                                                        <label class="form-check-label" for="exampleCheck2">Tempo
                                                            Integral</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck3">
                                                        <label class="form-check-label"
                                                            for="exampleCheck3">Estágio</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck4">
                                                        <label class="form-check-label" for="exampleCheck4">Meio
                                                            Período</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck5">
                                                        <label class="form-check-label"
                                                            for="exampleCheck5">Temporário</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class=" form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleCheck6">
                                                        <label class="form-check-label"
                                                            for="exampleCheck6">Voluntário</label>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="twm-sidebar-ele-filter">
                                            <h4 class="section-head-small mb-4">Tempo de postagem</h4>
                                            <ul>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleradio2">
                                                        <label class="form-check-label" for="exampleradio2">Últimas 24
                                                            horas</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleradio3">
                                                        <label class="form-check-label" for="exampleradio3">Últimos 7
                                                            dias</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleradio4">
                                                        <label class="form-check-label" for="exampleradio4">Últimos 14
                                                            dias</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleradio5">
                                                        <label class="form-check-label" for="exampleradio5">Últimos 30
                                                            dias</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                            id="exampleradio6">
                                                        <label class="form-check-label" for="exampleradio6">Tudo</label>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="twm-sidebar-ele-filter">
                                            <h4 class="section-head-small mb-4">Tamanho da Empresa</h4>
                                            <ul>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="Freelance1">
                                                        <label class="form-check-label" for="Freelance1">Pequena</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="FullTime1">
                                                        <label class="form-check-label" for="FullTime1">Média</label>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="Intership1">
                                                        <label class="form-check-label" for="Intership1">Grande</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </form>

                                </div>


                            </div>

                            <div class="twm-advertisment">
                                <div class="overlay"></div>
                                <h4 class="twm-title">Procurando emprego?</h4>
                                <p>Obtenha as melhores vagas correspondentes em seu E-mail. Adicionar currículo AGORA!
                                </p>
                                <a href="about" class="site-button white">Saber Mais</a>
                            </div>

                        </div>

                        <div class="col-lg-8 col-md-12">
                            <!--Filter Short By-->
                            <div class="product-filter-wrap d-flex justify-content-between align-items-center m-b30">
                                <span class="woocommerce-result-count-left">Mostrando 2,150 vagas</span>

                                <form class="woocommerce-ordering twm-filter-select" method="get">
                                    <span class="woocommerce-result-count">Ordenar Por</span>
                                    <select class="wt-select-bar-2 selectpicker" data-live-search="true"
                                        data-bv-field="size">
                                        <option>Mais Recente</option>
                                        <option>Mais Antiga</option>
                                        <option>Maior Salário</option>
                                        <option>Menor Salário</option>
                                    </select>
                                    <select class="wt-select-bar-2 selectpicker" data-live-search="true"
                                        data-bv-field="size">
                                        <option>Mostrar 10</option>
                                        <option>Mostrar 20</option>
                                        <option>Mostrar 30</option>
                                        <option>Mostrar 40</option>
                                        <option>Mostrar 50</option>
                                        <option>Mostrar 60</option>
                                    </select>
                                </form>

                            </div>

                            <div class="twm-jobs-list-wrap">
                                <ul>
                                    {% for vaga in object_list %}
                                    <li>
                                        <div class="twm-jobs-list-style1 mb-5">
                                            <div>
                                                <a href="job-detail.html" class="twm-job-title">
                                                    <h4>{{ vaga.nome }}<span class="twm-job-post-duration">/ 1 dia
                                                            atrás</span></h4>
                                                </a>
                                                <p class="twm-job-address">{{ vaga.descricao }}</p>
                                            </div>
                                            <div class="twm-right-content">
                                                <div class="twm-jobs-category green"><span
                                                        class="twm-bg-green">{{ vaga.nivel }}</span>
                                                </div>
                                                <div class="twm-jobs-amount">{{ vaga.salmin }} a {{ vaga.salmax }} <span>/ Mês</span></div>
                                                <p class="twm-jobs-browse site-text-primary">{{ vaga.modalidade }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% empty %}
                                        <p>Não foram encotradas vagas disponíveis</p>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% include "includes/pagination.html" %}

                        </div>

                    </div>
                </div>
            </div>
            <!-- OUR BLOG END -->
    
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        {% include 'rodape.html' %}
        <!-- FOOTER END -->
        {% endblock %}
    
</body>

</html>