{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block register %}
<div class="modal fade twm-sign-up" id="sign_up_popup" aria-hidden="true" aria-labelledby="sign_up_popupLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>

                <div class="modal-header">
                    <h2 class="modal-title" id="sign_up_popupLabel">Acesse já</h2>
                    <p>Cadastre-se e tenha acesso a todos os recursos do Experts 4 Hire</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="twm-tabs-style-2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <!--Signup Candidate-->  
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sign-candidate" type="button"><i class="fas fa-user-tie"></i>Candidato</button>
                        </li>
                        <!--Signup Employer-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#sign-Employer" type="button"><i class="fas fa-building"></i>Empresa</button>
                        </li>
                        
                        </ul>
                        <div class="tab-content" id="myTabContent">
                        <!--Signup Candidate Content-->  
                        <div class="tab-pane fade show active" id="sign-candidate">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="username" type="text" required="" class="form-control" placeholder="Usuário">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="email" type="text" class="form-control" required="" placeholder="Senha">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="phone" type="text" class="form-control" required="" placeholder="E-mail">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="phone" type="text" class="form-control" required="" placeholder="Celular">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <div class=" form-check">
                                            <input type="checkbox" class="form-check-input" id="agree1">
                                            <label class="form-check-label" for="agree1">Eu concordo com os <a href="javascript:;">Termos de Uso</a></label>
                                            <p>Já é registrado?
                                                <button class="twm-backto-login" data-bs-target="#sign_up_popup2" data-bs-toggle="modal" data-bs-dismiss="modal">Faça login aqui</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="site-button">Acesse já</button>
                                </div>
                                
                            </div>
                        </div>
                        <!--Signup Employer Content--> 
                        <div class="tab-pane fade" id="sign-Employer">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="username" type="text" required="" class="form-control" placeholder="Usuário">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="email" type="text" class="form-control" required="" placeholder="Senha">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="phone" type="text" class="form-control" required="" placeholder="E-mail">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="phone" type="text" class="form-control" required="" placeholder="Celular">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <div class=" form-check">
                                            <input type="checkbox" class="form-check-input" id="agree2">
                                            <label class="form-check-label" for="agree2">Eu concordo com os <a href="javascript:;">Termos de uso</a></label>
                                            <p>Já é registrado?
                                                <button class="twm-backto-login" data-bs-target="#sign_up_popup2" data-bs-toggle="modal" data-bs-dismiss="modal">Faça login aqui</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="site-button">Acesse já</button>
                                </div>
                                
                            </div>
                        </div>
                        
                        </div>
                    </div> 
                </div>

                <div class="modal-footer">
                    <span class="modal-f-title">Login ou entre com</span>
                    <ul class="twm-modal-social">
                        <li><a href="https://www.facebook.com/" class="facebook-clr"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/" class="twitter-clr"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/" class="linkedin-clr"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.google.com.br/" class="google-clr"><i class="fab fa-google"></i></a></li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){     
        
        $("#id_cpf").mask("000.000.000-00", {reverse: true});
        $("#id_cep").mask("00000-000");
        $("#id_data_nasc").mask("00/00/0000");
        $("#id_cnpj").mask("00.000.000/0000-00", {reverse: true});

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
    });
</script>
{% endblock %}