{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">{{ titulo }}</h4>
        
                <form method="post">
                    {% csrf_token %}
        
        
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-light mt-3">Cadastrar</button>
                </form>

              
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){     
        
        $("#id_cpf").mask("000.000.000-00", {reverse: true});
        $("#id_cep").mask("00000-000");
        $("#id_data_nasc").mask("00/00/0000");
        $("#id_cnpj").mask("00.000.000/0000-00", {reverse: true});

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
    });
</script>
{% endblock %}