<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\css\about.css">
    <title>Sobre Nós</title>
</head>
<body>
    {% load static %}
    <img width="200" src="{% static 'images/django.png' %}" />
    <p>
        <div class="center">
            <h1>Grupo 2</h1>
        </div>
        <div class="center">
            <h1>Turma Python Matutino On-line</h1>
        </div>
        <div class="center">
            <h1>Entra21 - 2022</h1>
        </div>
        <p>
            <div class="center">
                <div class="grupo">
                    O Grupo 2, responsável pelo projeto Experts 4 Hire, é formado pelos alunos abaixo:
                </div>
            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <img width = "147.6" src="{% static 'images/diego.jpeg' %}"  />
        </div>
        <div class="center">
            <h3>Diego Dalmolini</h3>
        </div>
        <p>
            <div class="center">

            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <h3>Felipe Sartorato</h3>
        </div>
        <p>
            <div class="center">

            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <h3>João Paulo Correia</h3>
        </div>
        <p>
            <div class="center">

            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <h3>José Orli Goetten</h3>
        </div>
        <p>
            <div class="center">

            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <h3>Luíza Bicalho Pollmann</h3>
        </div>
        <p>
            <div class="center">
                
            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <img width = "147.6" src="{% static 'images/mark.png' %}"  />
        </div>
        <div class="center">
            <h3>Mark Odebrecht</h3>
        </div>
        
        <p>
            <div class="center">
                Natural de Rio do Sul, 47 anos de idade, formado em Química e MBA em Gestão Empresarial, 
                construiu sua carreira na Indústria de Tintas, mais especificamente em laboratórios de P&D.
                Pelo grande interesse em programação, resolveu buscar a migração na carreira focando no Python 
                para fazer isso acontecer. Idealizador do projeto, atuou como PO e também na montagem de views, templates e 
                bancos de dados fictícios, além de ser o responsável pela manutenção do arquivo README e fazer os 
                merges da branch "Developer" à "Main".
            </div>
        </p>
    </p>
    <p>
        <div class="center">
            <img width = "147.6" src="{% static 'images/nicolas.jpg' %}"  />
        </div>
        <div class="center">
            <h3>Nicolas Felipe da Silva</h3>
        </div>
        <p>
            <div class="center">
                Natural de Schroeder, SC, 20 anos de idade, está iniciando no mundo da programação, 
                focando no front-end com as tecnologias HTML5, CSS3, sass, bootstrap, JavaScript e ReactJS.
                Neste projeto, ficou encarregado de ser um dos desenvolvedores front-end.
            </div>

        </p>
    </p>
    <p>
        <div class="center">
            <img width = "147.6" src="{% static 'images/raquel.png' %}" />
        </div>
        <div class="center">
            <h3>Raquel Schwartz dos Santos</h3>
        </div>
        <p>
            <div class="center">
                Natural de Blumenau/SC, com 34 anos hoje vive em Barra Velha.
                Formada em Ciências Contábeis pela Uniasselvi, resolvi migrar de carreira 
                e buscar novas oportunidades na tecnologia.
            </div>
        </p>            
    </p>
</body>
</html>