{% extends 'base.html' %}

{% load static %}
{% block content %}
<body>

        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url('/static/images/banner/top-page-bg.jpg');">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Conheça nossa equipe!</h2>
                            </div>
                        </div>                     
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index' %}">Início</a></li>
                                    <li>Equipe</li>
                                </ul>
                            </div>                 
                    </div>
                </div>
            </div>
            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">
                

                <div class="container">
                    <div class="row">
                        
                        <!-- <div class="col-lg-4 col-md-12 rightSidebar">

                            <div class="twm-advertisment" style="background-image:url(http://thememajestic.com/jobzilla/images/add-bg.jpg);">
                               <div class="overlay"></div>
                               <h4 class="twm-title">Recruiting?</h4>
                               <p>Get Best Matched Jobs On your <br>
                                Email. Add Resume NOW!</p>
                                <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button white">Read More</a> 
                            </div>

                        </div> -->

                            <div class="twm-candidates-list-wrap">
                                <ul>
                                     <li>
                                         <div class="twm-candidates-list-style1 mb-5">
                                             <div class="twm-media">
                                                 <div class="twm-media-pic">
                                                    <img src="{% static 'images/diego.jpeg' %}" alt="#">
                                                 </div>
                                                 <div class="twm-candidates-tag"><span>Featured</span></div>
                                             </div>
                                             <div class="twm-mid-content">
                                                 <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                     <h5>Diego Dalmolini </h5>
                                                 </a>
                                                 <p>Prazer tenho 25 anos e atualmente sou estudante do programa 
                                                    ENTRA21 - Programação em Python.
                                                    Sou formado em técnico em química pelo Instituto Federal, 
                                                    mas hoje busco alcançar novos horizontes na área de tecnologia
                                                    ao qual desde cedo tive muito apreço. 
                                                    Atualmente estou aprendendo novos recursos necessários para me
                                                    tornar um profissional completo e preparado para o mercado de trabalho.
                                                    Utilizo das metodologias ágeis para facilitar a organização e
                                                    otimizar os processos. <br>
                                                    <br>
                                                    <b>Contatos:</b>
                                                    Fone: (47) 99610-6088<br>
                                                    E-mail: diegosfs_ufsc@hotmail.com<br>
                                                    Linkedin: linkedin.com/in/diegodalmolini<br>
                                                    Github: github.com/diegodalmolini<br>
                                                    https://linktr.ee/diegodalmolini<br></p>
                                                 
                                                 <div class="twm-fot-content">
                                                     <div class="twm-left-info">
                                                        <p class="twm-candidate-address"><i class="feather-map-pin"></i>Jaraguá do Sul</p>
                                                        <div class="twm-jobs-vacancies">$20<span>/ Day</span></div>
                                                     </div>
                                                     <div class="twm-right-btn">
                                                         <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">Entre em contato comigo</a>
                                                     </div>
                                                </div>
                                             </div>
                                             
                                         </div>
                                     </li>

                                     <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic2.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Peter Hawkins</h4>
                                                </a>
                                                <p>Medical Professed</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$7<span>/ Hour</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic3.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Ralph Johnson  </h4>
                                                </a>
                                                <p>Bank Manger</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$180<span>/ Day</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.htmll" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic4.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Randall Henderson </h4>
                                                </a>
                                                <p>IT Contractor</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$90<span>/ Week</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic5.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Randall Warren</h4>
                                                </a>
                                                <p>Digital & Creative</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$95<span>/ Day</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic6.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Christina Fischer </h4>
                                                </a>
                                                <p>Charity & Voluntary</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$19<span>/ Hour</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic7.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Wanda Willis </h4>
                                                </a>
                                                <p>Marketing & PR</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$12<span>/ Day</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic8.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Peter Hawkins</h4>
                                                </a>
                                                <p>Public Sector</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$7<span>/ Hour</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                    <li>
                                        <div class="twm-candidates-list-style1 mb-5">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                   <img src="http://thememajestic.com/jobzilla/images/candidates/pic9.jpg" alt="#">
                                                </div>
                                                <div class="twm-candidates-tag"><span>Featured</span></div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-job-title">
                                                    <h4>Kathleen Moreno </h4>
                                                </a>
                                                <p>Sales & Marketing</p>
                                                
                                                <div class="twm-fot-content">
                                                    <div class="twm-left-info">
                                                       <p class="twm-candidate-address"><i class="feather-map-pin"></i>New York</p>
                                                       <div class="twm-jobs-vacancies">$125<span>/ Week</span></div>
                                                    </div>
                                                    <div class="twm-right-btn">
                                                        <a href="http://thememajestic.com/jobzilla/candidate-detail.html" class="twm-view-prifile site-text-primary">View Profile</a>
                                                    </div>
                                               </div>
                                            </div>
                                            
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->

</body>


<!-- Mirrored from thememajestic.com/jobzilla/candidate-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Sep 2022 13:04:32 GMT -->
</html>
{% include 'rodape.html'%}
{% endblock %}
