<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
</head>
<body>
    <div class="center">
        {% load static %}
        <img src="{% static 'images/django.png' %}" />
        <p>
            <h1>Grupo 2</h1>
            <h1>Turma Python Matutino On-line</h1>
            <h1>Entra21 - 2022</h1>
            <p>
                O grupo ....
            </p>
        </p>
        <p>
            <h3>Diego Dalmolini</h3>
            <p>

            </p>
        </p>
        <p>
            <h3>Felipe Sartorato</h3>
            <p>

            </p>
        </p>
        <p>
            <h3>João Paulo Correia</h3>
            <p>

            </p>
        </p>
        <p>
            <h3>José Orli Goetten</h3>
            <p>

            </p>
        </p>
        <p>
            <h3>Luíza Bicalho Pollmann</h3>
            <p>

            </p>
        </p>
        <p>
            <img width = "147.6" src="{% static 'images/mark.png' %}"  />
            <h3>Mark Odebrecht</h3>
            
            <p>
                
            </p>
        </p>
        <p>
            <h3>Nicolas Felipe da Silva</h3>
            <p>

            </p>
        </p>
        <p>
            <img width = "147.6" src="{% static 'images/raquel.png' %}" />
            <h3>Raquel Schwartz dos Santos</h3>
            <p>

                Natural de Blumenau/SC, com 34 anos hoje vive em Barra Velha.
                Formada em Ciências Contábeis pela Uniasselvi, resolvi migrar de carreira 
                e buscar novas oportunidades na tecnologia.
            </p>            
        </p>
    </div>
</body>
</html>