{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/experts-logoteste.html' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/experts-logoteste.png' %}" />

    <!-- PAGE TITLE HERE -->
    {% block title %}
    <title>Experts 4 Hire</title>
    {% endblock %}

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <!-- FONTAWESOME STYLE SHEET -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/feather.css' %}"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/lc_lightbox.css' %}"><!-- Lc light box popup -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/select.bootstrap5.min.css' %}">
    <!-- DASHBOARD select bootstrap  STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/scrollbar.css' %}">
    <!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"><!-- MAIN STYLE SHEET -->

</head>

<body>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="wrapper">
                <div class="cssload-loader"></div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

    <div class="page-wraper">

        <!-- HEADER START -->
        <header class="site-header header-style-3 mobile-sider-drawer-menu">

            <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">

                    <div class="container-fluid clearfix">

                        <div class="logo-header">
                            <div class="logo-header-inner logo-header-one">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'images/Logo_gg.png' %}" alt="" width=150% hight=150%>
                                </a>
                            </div>
                        </div>

                        <!-- NAV Toggle Button -->
                        <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button"
                            class="navbar-toggler collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar icon-bar-first"></span>
                            <span class="icon-bar icon-bar-two"></span>
                            <span class="icon-bar icon-bar-three"></span>
                        </button>

                        <!-- MAIN Vav -->
                        <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">

                            <ul class=" nav navbar-nav">
                                <li class="has-child"><a href="{% url 'index' %}">Início</a>
                                </li>
                                <li class="has-child"><a href="{% url 'about' %}">Sobre</a>
                                </li>
                                <li class="has-child"><a href="{% url 'vaga-list' %}">Vagas</a>
                                </li>
                                <li class="has-child"><a href="{% url 'empresas' %}">Empresas</a>
                                </li>
                                <li class="has-child"><a href="{% url 'candidatos-list' %}">Candidatos</a> <!--incluir a pagina do nicollas aqui, não tá no html q foi feito antes-->
                                </li>

                            </ul>

                        </div>

                        <!-- Header Right Section-->

                        <div class="extra-nav header-2-nav">
                            <div class="extra-cell">
                                <div class="header-nav-btn-section">
                                    <div class="twm-nav-btn-left">

                                        {% if request.user|has_group:"Candidato" %}
                                        <div class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink"
                                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa-solid fa-user-check"></i>
                                                <span id="username">Seja bem-vindo(a) {{ request.user }}!</span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'atualizar-dados-candidato' %}">
                                                    <i class="fa-regular fa-file"></i>
                                                    Meus dados</a>
                    
                                                <a class="dropdown-item" href="{% url 'change-password' %}">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    Alterar senha</a>
                    
                                                <a class="dropdown-item" href="{% url 'atualizar-curriculo' %}">
                                                    <i class="fa-solid fa-paste"></i>
                                                    Meu curriculo</a>
                    
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'logout' %}">
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                    Sair</a>
                                            </div>
                                        </div>
                                        {% elif request.user|has_group:"Empresa" %}
                                        <div class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink"
                                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa-solid fa-user-check"></i>
                                                <span id="username">Seja bem-vindo(a) {{ request.user }}!</span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'atualizar-dados-empresas' %}">
                                                    <i class="fa-regular fa-file"></i>
                                                    Dados empresa</a>
                                                <a class="dropdown-item" href="{% url 'minhas-vagas' %}">
                                                    <i class="fa-regular fa-file"></i>
                                                    Minhas vagas</a>
                                                <a class="dropdown-item" href="{% url 'change-password' %}">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    Alterar senha</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'logout' %}">
                                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                    Sair</a>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                <span id="username">Registrar</span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'registrar-candidato' %}">
                                                    <i class="fa fa-user-tie" aria-hidden="true"></i>
                                                    Candidato</a>
                                                <a class="dropdown-item" href="{% url 'registrar-empresa' %}">
                                                    <i class="fa-solid fa-users"></i>
                                                    Empresa</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="twm-nav-btn-right">
                                        <a class="twm-nav-post-a-job" href="{% url 'login' %}"
                                            role="button">
                                            <i class="feather-briefcase"></i>
                                             Login
                                        </a>
                                        
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <!-- HEADER END -->

        {% block content %}

        {% endblock %}
        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>



 	</div>

<!-- JAVASCRIPT  FILES ========================================= -->
<script  src="{% static 'js/jquery-3.6.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script  src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script  src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script  src="{% static 'js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script  src="{% static 'js/dropzone.js' %}"></script><!-- IMAGE UPLOAD  -->
<script  src="{% static 'js/jquery.scrollbar.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/bootstrap-datepicker.js' %}"></script><!-- scroller -->
<script  src="{% static 'js/jquery.dataTables.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'js/chart.js' %}"></script><!-- Chart -->
<script  src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->

<script>
    const btn = document.querySelector('#navbarDropdownMenuLink')
    const menu = document.querySelector('[aria-labelledby="navbarDropdownMenuLink"]')
    btn.addEventListener('click',() => {
        if(menu.classList.contains('show')){
            menu.classList.remove('show')
        }else{
            menu.classList.add('show')
        }

    })
</script>


</body>


</html>
