{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
                <h4 class="card-title text-center">Home</h4>
                {% if user.perfilcandidato.nome %}        
                Bem vindo ao sistema {{ user.perfilcandidato.nome }} {{ user.perfilcandidato.sobrenome }}.
                {% else %}
                Você precisa completar seu cadastro. Acesse os <a href="{% url 'atualizar-dados' %}">meus dados</a> para atualizar.
                {% endif %}

    </div>
</div>


{% endblock %}