<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
</head>
<body>
    <p>
        <h1>Grupo 2</h1>
        <h1>Turma Python Matutino On-line</h1>
        <h1>Entra21 - 2022</h1>
    </p>
    <p>
        <h2>Diego Dalmolini</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>Felipe Sartorato</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>João Paulo Correia</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>José Orli Goetten</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>Luíza Bicalho Pollmann</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>Mark Odebrecht</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>Nicolas Felipe da Silva</h2>
        <p>

        </p>
    </p>
    <p>
        <h2>Raquel Schwartz dos Santos</h2>
        <p>

        </p>
    </p>
</body>
</html>