{% extends 'base.html' %}
{% load static %} 


{% block content %}
    
    <!-- PAGE TITLE HERE -->
    <title>Experts4Hire | Pricing Packages</title>
    
      
<body>
      
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url('/static/images/banner/top-page-bg.jpg');">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Pacotes Disponíveis</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li>Preços</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- PRICING TABLE SECTION START -->
            <div class="section-full p-t120 p-b90 site-bg-white tw-pricing-area">
                
                <div class="container">
                    
                    <!-- TITLE START-->
                    <div class="section-head left wt-small-separator-outer">
                        <div class="wt-small-separator site-text-primary">
                            <div>EScolha seu Plano</div>                                
                        </div>
                        <h2 class="wt-title">Economize até  10%</h2>
                    </div>                  
                    <!-- TITLE END-->
                            
                    <div class="section-content">

                        <div class="twm-tabs-style-1">
                          <ul class="nav nav-tabs" id="myTab3" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="Monthly" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" >Mensal</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="annual" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile">Anual</button>
                            </li>
                           
                          </ul>
                          <div class="tab-content" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="Monthly">
                                <div class="pricing-block-outer">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-6 m-b30">
                                            <div class="pricing-table-1">
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Básico
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                    <div class="p-table-price">
                                                        <span>R$99,90/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li class="disable"><i class="feather-x"></i>0 vaga em destaque</li>
                                                            <li class="disable"><i class="feather-x"></i>Vaga exibida por 20 dias</li>
                                                            <li class="disable"><i class="feather-x"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-4 col-md-6 p-table-highlight m-b30">
                                            <div class="pricing-table-1 circle-yellow">
                                                <div class="p-table-recommended">Recomendado</div>
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Padrão
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                   
                                                    <div class="p-table-price">
                                                        <span>R$249,90/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li><i class="feather-check"></i>0 vaga em destaque</li>
                                                            <li><i class="feather-check"></i>Vaga exibida por 20 dias</li>
                                                            <li class="disable"><i class="feather-x"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 col-md-6 m-b30">
                                            <div class="pricing-table-1 circle-pink">
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Extendido
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                    <div class="p-table-price">
                                                        <span>R$499,90/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li><i class="feather-check"></i>0 vaga em destaque</li>
                                                            <li><i class="feather-check"></i>Vaga exibida por 20 dias</li>
                                                            <li><i class="feather-check"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                
        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="annual">
                                <div class="pricing-block-outer">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-6 m-b30">
                                            <div class="pricing-table-1">
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Básico
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                    <div class="p-table-price">
                                                        <span>R$149,9/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li class="disable"><i class="feather-x"></i>0 vaga em destaque</li>
                                                            <li class="disable"><i class="feather-x"></i>Vaga exibida por 20 dias</li>
                                                            <li class="disable"><i class="feather-x"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-4 col-md-6 p-table-highlight m-b30">
                                            <div class="pricing-table-1 circle-yellow">
                                                <div class="p-table-recommended">Recomendado</div>
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Padrão
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                   
                                                    <div class="p-table-price">
                                                        <span>R$499,90/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li><i class="feather-check"></i>0 vaga em destaque</li>
                                                            <li><i class="feather-check"></i>Vaga exibida por 20 dias</li>
                                                            <li class="disable"><i class="feather-x"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 col-md-6 m-b30">
                                            <div class="pricing-table-1 circle-pink">
                                                <div class="p-table-title">
                                                    <h4 class="wt-title">
                                                        Extended
                                                    </h4>
                                                </div>
                                                <div class="p-table-inner">
                                                    <div class="p-table-price">
                                                        <span>R$1499,90/</span>
                                                        <p>Mensal</p>
                                                    </div>
                                                    <div class="p-table-list">
                                                        <ul>
                                                            <li><i class="feather-check"></i>1 postagem de vaga</li>
                                                            <li><i class="feather-check"></i>0 vaga em destaque</li>
                                                            <li><i class="feather-check"></i>Vaga exibida por 20 dias</li>
                                                            <li><i class="feather-check"></i>Suporte Premium 24 horas por dia. 7/7</li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-table-btn">
                                                        <a href="http://thememajestic.com/jobzilla/about-1.html" class="site-button">Contrate Agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                
        
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                        </div>   


                        
                    </div>      
                        
                </div>
            </div>   
            <!-- PRICING TABLE SECTION END --> 
          
            
     
        </div>
        <!-- CONTENT END -->

 	</div>



        <!-- FOOTER START -->
        {% include 'rodape.html' %}
        <!-- FOOTER END -->
        {% endblock %}

</body>

</html>